@tailwind base;
@tailwind components;

* {
  box-sizing: border-box;
}

main {
  ul li:before {
    content: "-";
    @apply inline-block mr-2;
  }
}

a {
  @apply text-blue-700;

  @screen dark-mode {
    @apply text-blue-300;
  }

  &:hover {
    @apply underline;
  }
}

h1 {
  @apply mb-4 text-3xl font-bold leading-tight;

  @screen md {
    @apply text-4xl;
  }

  span {
    @apply font-normal;
  }
}

h2 {
  @apply text-2xl font-bold;

  @screen md {
    @apply text-3xl;
  }
}

h3 {
  @apply text-xl font-bold;

  @screen md {
    @apply text-2xl;
  }
}

h4 {
  @apply text-xl font-normal;
}

.nuxt-content {
  > * + * {
    @apply mt-6;
  }

  img {
    @apply w-full rounded;
  }

  .video {
    @apply relative w-full rounded pb-9/16;

    iframe {
      @apply absolute top-0 left-0 w-full h-full;
    }
  }

  ol {
    counter-reset: olItem;

    &:before {
      counter-increment: olItem;
      content: counter(olItem) ".";
      @apply inline-block mr-1;
    }
  }

  li {
    @apply mt-2;
  }

  blockquote {
    @apply p-4 italic border-l-8 border-blue-700;

    @screen dark-mode {
      @apply border-blue-300;
    }
  }

  hr {
    @apply h-px my-10 bg-blue-700 border-0 rounded-full;

    @screen dark-mode {
      @apply bg-blue-300;
    }
  }

  .nuxt-content-highlight {
    @apply p-4 my-10 font-mono leading-normal break-normal whitespace-pre bg-gray-200 rounded;

    @screen dark-mode {
      @apply bg-gray-800;
    }
  }

  .filename {
    @apply block mb-4 italic text-gray-500;

    &::before {
      content: "//";
      @apply mr-2;
    }
  }

  code[class*="language-"],
  pre[class*="language-"] {
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    tab-size: 2;
    hyphens: none;
  }

  pre[class*="language-"]::-moz-selection,
  pre[class*="language-"] ::-moz-selection,
  code[class*="language-"]::-moz-selection,
  code[class*="language-"] ::-moz-selection,
  pre[class*="language-"]::selection,
  pre[class*="language-"] ::selection,
  code[class*="language-"]::selection,
  code[class*="language-"] ::selection {
    text-shadow: none;
  }

  pre[class*="language-"] {
    @apply overflow-auto;
  }

  :not(pre) > code {
    @apply p-1 font-mono break-normal whitespace-normal bg-gray-200 rounded;

    @screen dark-mode {
      @apply bg-gray-800;
    }
  }

  .token.comment,
  .token.prolog,
  .token.doctype,
  .token.cdata {
    @apply text-gray-500;
  }

  .token.punctuation {
    @apply text-gray-700;

    @screen dark-mode {
      @apply text-gray-300;
    }
  }

  .token.property,
  .token.tag,
  .token.boolean,
  .token.number,
  .token.constant,
  .token.symbol,
  .token.deleted {
    @apply text-pink-500;

    @screen dark-mode {
      @apply text-pink-300;
    }
  }

  .token.selector,
  .token.attr-name,
  .token.string,
  .token.char,
  .token.builtin,
  .token.inserted {
    @apply text-green-500;

    @screen dark-mode {
      @apply text-green-300;
    }
  }

  .token.operator,
  .token.entity,
  .token.url,
  .language-css .token.string,
  .style .token.string {
    @apply text-yellow-700;

    @screen dark-mode {
      @apply text-yellow-500;
    }
  }

  .token.atrule,
  .token.attr-value,
  .token.attr-value + .token.attr-name,
  .token.keyword {
    @apply text-blue-500;

    @screen dark-mode {
      @apply text-blue-300;
    }
  }

  .token.function,
  .token.class-name {
    @apply text-pink-500;

    @screen dark-mode {
      @apply text-pink-300;
    }
  }

  .token.regex,
  .token.important,
  .token.variable {
    @apply text-yellow-700;

    @screen dark-mode {
      @apply text-yellow-500;
    }
  }

  .token.important,
  .token.bold {
    @apply font-bold;
  }
  .token.italic {
    @apply italic;
  }

  .token.entity {
    @apply cursor-help;
  }
}

@tailwind utilities;
